body {
  background-image: url(../src//Images/backgroundImage.jpg);
  width: 100vw;
}
.Center-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  padding-bottom: 10rem;
}
.Weather-report-box {
  background-color: rgb(22, 140, 173);
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;
  border-radius: 20px;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.input-text {
  height: 2rem;
  width: 15rem;
  border-radius: 25px;
  border: 1px;
  border-width: 1px;
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: 2px 2px #888888;
}
button {
  font-size: 1.2rem;
  border-radius: 50px;
  height: 2rem;
  width: 7rem;
  font-weight: 500;
  background-color: rgb(89, 89, 234);
  border: 0;
  cursor: pointer;
  margin-left: 1rem;
  box-shadow: 2px 2px  rgb(89, 89, 234);
}
